* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Loader */
.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-image: linear-gradient(
    to bottom,
    rgba(173, 216, 230, 1),
    rgba(0, 0, 0, 0.25)
  );
}
.spinner-circle {
  color: white;
}
